.text {
    text-align: center;
    margin-top: 100px;
    background: url('https://wallpaperaccess.com/full/2545147.jpg');
    font-size: 200px;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    animation: animation 8s infinite ease;
    animation-fill-mode: both;
}

.text:hover {
    animation: flow 8s infinite ease-out;
    animation-fill-mode: both;
}

@keyframes animation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

@keyframes flow {
    from {
        background-position: 100% 100%;
    }
    to {
        background-position: 0 0;
    }
}